body {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.center {
	text-align: center;
}

#header {
	padding-top: 40px;
	padding-bottom: 40px;
}